.background-foto {
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.header {
  height: 100%;
  margin: 0 auto;
  max-width: 1030px;
  padding: 0 165px;
  padding-top: 50px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
}
.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.slogan {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
}
.slogan-start {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}
.slogan-end {
  margin: 0;
  padding-top: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.header-logo svg path {
  fill: #ffffff;
}
.header-logo:hover svg path,
.header-logo:hover p {
  fill: #f26522;
  color: #f26522;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.contacts a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.contacts a:hover {
  color: #f26522;
}

.main-content {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1030px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}
.main a {
  text-decoration: none;
}
.item {
  width: 300px;
}
.tour-image {
  position: relative;
  width: 300px;
  height: 220px;
  overflow: hidden;
}
.tour-image::before {
  content: "";
  position: absolute;
}
.hidden-content {
  box-sizing: border-box;
  height: 0;
  transition: 400ms;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f26522;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.price-from {
  width: 100%;
  font-size: 10px;
  line-height: 10px;
  padding-bottom: 6px;
}
.tour-price {
  font-size: 20px;
  line-height: 20px;
}
.view-details {
  font-size: 14px;
  line-height: 14px;
}
.view-details::after {
  content: ">";
  padding-left: 16px;
  width: 5px;
  height: 10px;
}
.tour-name {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}
.main a:hover .tour-name {
  text-decoration: none;
  color: #f26522;
}
.main a:hover .hidden-content {
  height: 50px;
  padding: 8px 16px 14px;
}
.footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
}
